 
h1 {
font-size: 36px;
font-family: sans-serif;
font-weight: 100;
letter-spacing: 2px;
}

.big-ass-number {
font-size: 5em;
display: block;
text-align: center;
}

.big-ass-text {
font-size: 4em;
display: block;
text-align: center;
font-weight: bold;
text-transform: uppercase;
}

.twitch-link {
padding:2px 0px 4px; 
display:block; 
width:345px; 
font-weight:normal; 
font-size:10px;
text-decoration: underline;
}
